# Documentations
Documentation/
old/
# ******************************************************

# HybridGuard - MAJOR PROJECT 
HybridGuard - Major Project/frontend/node_modules
HybridGuard - Major Project/frontend/.env

# MODEL TRAINER
tiny-fake-review-detector/Model Trainer/.ipynb_checkpoints
*.pkl


# *****************************************************
# TINY FAKE REVIEW DETECTOR

# BACKEND 
tiny-fake-review-detector/backend/.idea
tiny-fake-review-detector/backend/.venv

# FRONTEND 
tiny-fake-review-detector/frontend/node_modules


